.page-header{
    background-color: #006b1b;
    text-align: center;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    background-color: #006b1b55;
}

article header{
    display: flex;
    justify-content: space-between;
    align-items: initial;
}

h2{
    font-size: 60px;
}

time{
    font-size: 1rem;
    ...
}

p{
    font-size: 5vh;
}

.add{
    font-size: 30px;
}